NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
APP_SECRET=
RESEND_API_KEY=
GDRIVE_FOLDER_ID=
GDRIVE_CLIENT_EMAIL=
GDRIVE_PRIVATE_KEY=
BOOTSTRAP_KEY=
APP_URL=http://localhost:3000
GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
GOOGLE_OAUTH_REDIRECT_URI=
